// src/app/components/app-layout/app-layout.component.scss
.sb-sidenav-toggled {
  #layoutSidenav_content {
    margin-left: 0 !important;
  }
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.15) !important;
  border-radius: 6px;
  font-weight: 600;
}