<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AGIL Fleet</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Tableau de bord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Véhicules</a>
            </li>
        </ul>
        <button class="btn btn-outline-danger" (click)="logout()">Déconnexion</button>
    </div>
</nav>
<router-outlet></router-outlet>