.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.h-custom-2 {
  height: 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.row {
  height: 100%;
}

.col-sm-6 {
  padding: 0;
}

.text-black {
  color: #000;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.ms-xl-4 {
  margin-left: 1.5rem;
}

.fas {
  font-size: 2rem;
}

.h1 {
  font-size: 2.5rem;
}

.fw-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-5 {
  margin-top: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pt-xl-0 {
  padding-top: 0;
}

.mt-xl-n5 {
  margin-top: -3rem;
}

.form-outline {
  margin-bottom: 1.5rem;
}

.form-control-lg {
  font-size: 1.25rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  width: 100%;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #138496;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-muted {
  color: #6c757d;
}

.link-info {
  color: #17a2b8;
}

.link-info:hover {
  color: #138496;
  text-decoration: underline;
}

.d-none {
  display: none;
}

.d-sm-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.vh-100 {
  height: 100vh;
}

img {
  object-fit: cover;
  object-position: left;
}

@media (max-width: 767px) {
  .col-sm-6:nth-child(2) {
    display: none;
  }
}